<!-- Original sidebar template extension (linked in layout_side_panel.html)-->

<!-- Name of the original sidebar: -->
<h3>{{ _("Our Sidebar") }}</h3>

<!-- Sub-name of the original sidebar: -->
<p class="text-muted">{{ _("You can put any information here you'd like.") }}

    <!-- Items list of the original sidebar: -->
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">{{ _("Latest Posts") }}</li>
        <li class="list-group-item list-group-item-light">{{ _("Announcements") }}</li>
        <li class="list-group-item list-group-item-light">{{ _("Calendars") }}</li>
        <li class="list-group-item list-group-item-light">{{ _("etc") }}</li>
    </ul>
</p>
