<!-- Page for single user posts -->

<!-- Connection to layout: -->
{% extends "layout.html" %}
{% block content %}

    <!-- Information about the author's posts: -->
    <h1 class="mb-3">{{ _("Posts by") }} {{ user.username }} ({{ posts.total }})</h1>

    <!-- Cycle for browsing posts: -->
    {% for post in posts.items %}

        <!-- Main container for a single post: -->
        <article class="media content-section">

            <!-- Sub-container for a single post:-->
            <div class="media-body">

                <!-- Author's profile picture: -->
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pictures/' + post.author.profile_picture) }}">

                <!-- Container for author name and post date: -->
                <div class="article-metadata">

                    <!-- Author's username: -->
                    <a class="mr-2"
                       href="{{ url_for('posts.user_posts', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>

                    <!-- Post date: -->
                    <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                </div>

                <!-- Post title: -->
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>

                <!-- Post content: -->
                <p class="article-content">{{ post.content }}</p>

                <!-- Condition for displaying the post translation link: -->
                {% if post.language != language %}

                    <!-- Container for the post translation link: -->
                    <small class="text-muted">
                        <a href="{{ url_for('main.translate', post_id=post.id) }}">{{ _("Translate") }}</a>
                    </small>

                {% endif %}
            </div>
        </article>
    {% endfor %}

    <!-- Paging cycle: -->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

        <!-- Condition when getting page number: -->
        {% if page_num %}

            <!-- Display condition if page number matches the page number of the displayed posts: -->
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>

            <!-- Display condition if page number NOT matches the page number of the displayed posts: -->
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>

            {% endif %}

        <!-- Condition when NOT getting page number: -->
        {% else %}
            ...

        {% endif %}
    {% endfor %}
{% endblock content %}

